.link {
  color: black;
  font-size: 26px;
  text-decoration: none;
}

.active {
  color: red;
}

header {
  display: flex;
  align-items: center;
  background-color: white;
  color: Black;
  height: 80px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

nav {
  display: flex;
  gap: 15px;
  padding-left: 30px;
}
